@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background: #fff;
  color: #1d1d1f;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  text-align: center;
  background: #f5f5f7;
  padding: 1rem;
  max-width: 400px;
  border-radius: 20px;
}
input {
  width: 100%;
  box-sizing: border-box;
  margin: 0.25rem 0 0.5rem 0;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
  padding: 0.5rem;
}
input:focus {
  border: 2px solid #000
}
input.error {
  border: 1px solid #e30000;
  background: #fff2f4
}
button {
  width: 100%;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  background: #0071e3;
  color: #f5f5f7;
  transition: 0.2s;
}
button:hover {
  background: #0177ED;
}
span {
  margin-top: 1rem;
}
[data-adress].error {
  color: #e30000
}
@media (max-width: 800px) {
  button:active {
    background: #0177ED;
  }
}
