@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background: #f0f4f9;
  color: #1f1f1f
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  text-align: center;
  background: #fff;
  padding: 1rem;
  max-width: 400px;
  border-radius: 30px;
}
input {
  width: 100%;
  box-sizing: border-box;
  margin: 0.25rem 0 0.5rem 0;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.5rem;
}
input:focus {
  border: 2px solid #114fb4
}
input.error {
  border: 2px solid #B3261E;
}
button {
  width: 100%;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  background: #0a57d0;
  color: #fff;
  transition: 0.2s;
}
button:hover {
  background: #061b3e
}
span {
  margin-top: 1rem;
}
[data-adress].error {
  color: #b3261e
}
@media (max-width: 800px) {
  button:hover {
    background: #0a57d0;
  }
  button:active {
    background: #114fb4
  }
}
