@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background: #eee;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  text-align: center;
  background: #fff;
  padding: 1rem;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
input {
  width: 100%;
  box-sizing: border-box;
  margin: 0.25rem 0 0.5rem 0;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-radius: 20px;
  border: 2px solid rgb(0, 153, 255);
  outline: none;
  padding: 0.5rem;
}
input.error {
  border-color: red;
}
button {
  width: 100%;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  background: rgb(0, 153, 255);
  color: #fff;
  transition: 0.2s;
}
button:hover {
  background: rgb(0, 55, 92);
}
div {
  margin-top: 1rem;
}
@media (max-width: 800px) {
  button:hover {
    background: rgb(0, 153, 255);
  }
  button:active {
    background: rgb(0, 55, 92);
  }
}
